.grid {
  display: grid;
  grid-template-columns: minmax(200px, 1fr);
  grid-gap: 20px;
  padding-bottom: 20px;
}

@media (min-width: 528px) {
  .grid {
    grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr);
  }
}
@media (min-width: 1080px) {
  .grid {
    grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr) minmax(
        200px,
        1fr
      );
  }
}
@media (min-width: 1280px) {
  .grid {
    grid-template-columns:
      minmax(200px, 1fr) minmax(200px, 1fr) minmax(200px, 1fr)
      minmax(200px, 1fr);
  }
}

.card {
  border: 0 0 5px 5px;
  box-shadow: var(--shadow);
  padding: 0 0 0.75em 0;
  border-radius: 5px;
  color: #444;
  display: flex;
  flex-flow: column nowrap;
  background-color: white;
}

.card a {
  text-decoration: none;
  color: #444;
  flex: 1 0 0;
}

.card img {
  width: 100%;
  height: auto;
  display: block;
}

.card .card_header {
  padding: 10px 10px 0;
  line-height: 1.7em;
}

.card .card-content {
  padding: 10px 15px;
}

.card .product-price {
  text-align: right;
  margin-top: 0.7em;
}

.card-actions {
  padding: 10px 15px 0;
  text-align: center;
  border-top: 1px solid var(--gray3);
}

.card .product-description {
  color: var(--gray4);
}
